name: 'Release Please'

on:
    push:
        branches:
            - main

permissions:
    contents: write
    pull-requests: write

jobs:
    release-please:
        runs-on: ubuntu-latest
        steps:
            - uses: googleapis/release-please-action@v4
              id: release
              with:
                  # NOTE: GITHUB_TOKEN doesn't run checks on Release PR
                  token: ${{ secrets.GITHUB_TOKEN }}

            # The logic below handles the npm publication:
            - uses: actions/checkout@v4
              # these if statements ensure that a publication only occurs when
              # a new release is created:
              if: ${{ steps.release.outputs.release_created }}

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 16
                  registry-url: 'https://registry.npmjs.org'
              if: ${{ steps.release.outputs.release_created }}

            - name: Install Dependencies
              run: npm ci
              if: ${{ steps.release.outputs.release_created }}

            - name: Build
              run: npm run build
              if: ${{ steps.release.outputs.release_created }}

            - name: Publish to NPM
              run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
              if: ${{ steps.release.outputs.release_created }}
